<p>task-board works!</p>

<!-- <div class="board">
    <button mat-raised-button color="primary" (click)="openAddTaskDialog()">Add New Task</button>
  
    <div class="columns">
      <div class="column">
        <h3>To Do</h3>
        <div cdkDropList [cdkDropListData]="todo" (cdkDropListDropped)="drop($event, 'To Do')">
          <div *ngFor="let task of todo" cdkDrag>{{ task.title }}</div>
        </div>
      </div>
      <div class="column">
        <h3>In Progress</h3>
        <div cdkDropList [cdkDropListData]="inProgress" (cdkDropListDropped)="drop($event, 'In Progress')">
          <div *ngFor="let task of inProgress" cdkDrag>{{ task.title }}</div>
        </div>
      </div>
      <div class="column">
        <h3>Done</h3>
        <div cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event, 'Done')">
          <div *ngFor="let task of done" cdkDrag>{{ task.title }}</div>
        </div>
      </div>
    </div>
  </div> -->